/* An attempt to provide smooth integration with the native Artemis SBS GUI
*  for DIY displays and control UIs implemented with web technologies.
*  You could use this file directly, but it mostly is intended to serve as 
*  a document to guide you in configuring jquery UI's ThemeRoller.
*  This version is mostly compatible with older browsers, and assumes no images.
*  Super Simple. Consider this file mutually exclusive with the "regular" edition.
*  justin.warwick@gmail.com  1/2016
*  Thanks to: 
*  http://www.colorzilla.com/gradient-editor/
*  https://developer.mozilla.org/en-US/docs/Web
*  https://www.google.com/fonts  
*  and of course:  http://artemis.eochu.com/
*/


@import url(https://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic);


/* General Defaults */
body {
	color: #FFFFFF;
	background-color: #000020;
	font-family: 'Ropa Sans', Arial, Helvetica, sans-serif;
	/*Gadget, sans-serif;*/
}

button {
	font-family: 'Ropa Sans', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 1.75em;
	color: #FDFDFF;
	background-color: #001C47;
	border-top: 2px solid #335066;
	border-right: none;
		/*border-right: 2px solid #335066;*/
	border-bottom: 2px solid #2378A9;
	border-left: none;
		/*border-left: 3px solid #335066;*/
	padding: .1em 1em .1em 2em ;
	text-align:right;

	background-image: url('button_L_cap.png') , url('button_R_cap.png') ;
	background-repeat: no-repeat, no-repeat;
	background-position: left, right;
	vertical-align: bottom;


	width: 8em;
	padding-top: 0em;
	padding-bottom: 0em;
}

/* Semantic Classes */
.urgent {
	color: #F76263;
}

.ship_metrics { 
}
.ship_metrics td {
	padding-left: 1em;
	padding-top: 0em;
	padding-bottom: 0em;
} 
.ship_metrics tr td:first-child
{ 
	text-align: right;
	padding-right:1em;
	padding-left:2.5em;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3caeda+0,164b87+100 */
	background: #3caeda; /* Old browsers */
	background: -moz-linear-gradient(top,  #3caeda 0%, #164b87 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3caeda 0%,#164b87 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3caeda 0%,#164b87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3caeda', endColorstr='#164b87',GradientType=0 ); /* IE6-9 */

}


.target_metric
{
}

table.vertical_threshold_bracket {
        border-top: 4px solid #ffdd66;
        border-left: 4px solid #ffdd70;
        border-bottom: 4px solid #ffdd66;
        /* nice, but not consistent with contiguous bracket color   border-collapse: collapse;*/
        border-spacing: 0em;
}
table.vertical_threshold_bracket td {
        /* font-weight: bold; */
}
table.vertical_threshold_bracket td.critical_threshold {
        border-left: 5px solid #F76263;
}
table.vertical_threshold_bracket td.nominal_threshold {
        border-left: 5px solid #39F33B;
}


table.cartograph {
        border: 2px solid #202550;
        border-collapse: collapse;
}
table.cartograph td {
        border: 2px solid #151AA5;
        width: 6em;
        height: 6em;
        text-align: left;
        vertical-align: top;
        font-size: 1em;
        color: #4048B0;
}



/* Conventional layout */
#super_container {
        margin: .5em;
}

#console_super_controls button {
        margin-right: -.25em;
}

#communique {
        background-color: #222244;
        border: .25em solid #181828;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: -2em;
        padding: 1em;
}
#communique button.action {
        float:right;
        margin-top: 1em;
        margin-right:-1em;
}




/* untested slider changes: */
input[type='range'] {
  position: absolute;
  top: 50%;
  left: 33%;
  border: solid 0 transparent;
  border-width: 0 1.75em 0.75em;
  padding: 0 0 1.5em;
  width: 19.75em;
  height: 5.25em;
  border-radius: .05em;
  transform: translate(-50%, -50%) rotate(-90deg);
  background: linear-gradient(#009999, #009999) calc(100% - 0.1825em) calc(100% - 0.6875em), linear-gradient(90deg, #009999, #009999 0.125em, rgba(0, 0, 0, 0) 0.125em, rgba(0, 0, 0, 0) 18.635em) 0.495em calc(100% - 0.375em), radial-gradient(#009999, rgba(0, 153, 153, 0)) 2.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 3.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 5.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 6.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 8.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 9.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 11.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 12.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 14.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 15.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 17.3125em 100%;
  background-repeat: no-repeat, repeat-x, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 0.75em 0.125em, 18.635em 0.75em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box, 
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box, 
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-ms-track {
  border: none;
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box, 
  linear-gradient(#efefef, #c2c2c2) border-box;*/
  color: transparent;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -0.125em;
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-tooltip {
  display: none;
}
input[type='range']:nth-of-type(2) {
  left: 66%;
  transform: translate(-50%, -50%) rotate(-90deg) scaleY(-1);
}
input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 .25em #808080;
}

