/** Sliders **/
input[type='range'] {
  position: relative;
  top: 50%;
  left: 1em; /*33%;*/
  border: solid 0 transparent;
  border-width: 0 1.75em 0.75em;
  padding: 0 0 1.5em;
  width: 19.75em;
  height: 5.25em;
  border-radius: .05em;
  transform: translate(-0%, 100%) rotate(-90deg);
  /* transform: translate(-50%, -50%) rotate(-90deg);*/
  background: linear-gradient(#009999, #009999) calc(100% - 0.1825em) calc(100% - 0.6875em), linear-gradient(90deg, #009999, #009999 0.125em, rgba(0, 0, 0, 0) 0.125em, rgba(0, 0, 0, 0) 18.635em) 0.495em calc(100% - 0.375em), radial-gradient(#009999, rgba(0, 153, 153, 0)) 2.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 3.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 5.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 6.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 8.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 9.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 11.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 12.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 14.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 15.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 17.3125em 100%;
  background-repeat: no-repeat, repeat-x, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 0.75em 0.125em, 18.635em 0.75em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box, 
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box, 
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-ms-track {
  border: none;
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box, 
  linear-gradient(#efefef, #c2c2c2) border-box;*/
  color: transparent;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -0.125em;
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-tooltip {
  display: none;
}
input[type='range']:nth-of-type(2) {
  left: 2em; /*33%;*/
  transform: translate(-50%, 100%) rotate(-90deg) scaleY(-1);
  /*transform: translate(-50%, -50%) rotate(-90deg) scaleY(-1);*/
}
input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 .25em #808080;
}


