/* An attempt to provide smooth integration with the native Artemis SBS and SNIS GUI
*  for DIY displays and control UIs implemented with web technologies.
*  You could use this file directly, but it mostly is intended to serve as a
*  document to guide you in configuring jquery UI's ThemeRoller.
*  justin.warwick@gmail.com  1/2016
*  Thanks to:
*  http://www.colorzilla.com/gradient-editor/
*  https://developer.mozilla.org/en-US/docs/Web
*  https://www.google.com/fonts
*  https://github.com/SamHerbert/SVG-Loaders
*  http://codepen.io/thebabydino
*/


@import url('https://fonts.googleapis.com/css?family=Orbitron');


/** General Defaults **/
body {
	color: #22DD22;
	background-color: #020202;
	font-family: 'Orbitron', Arial, Helvetica, sans-serif;
	/*Gadget, sans-serif;*/
	overflow: hidden; /* if it DOES flow into overflow, you will NOT be able to scroll to it. This may need to be revisited */
}

html, body, webview { 		/* affects full-screen mode borders */
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #020202;
}

h3 {
	margin-bottom: 0em;
}

/** Controls **/
button {	/*decent, graceful fall-back defaults*/
	font-family: 'Orbitron', Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	vertical-align: bottom;
	color: #22DD22;
	background-color: #020402;
	border-top: 1px solid #22DD22;
	border-right: 1px solid #22DD22;
	border-bottom: 1px solid #22DD22;
	border-left: 1px solid #22DD22;
	padding: .25em 1em .25em 2em ;
	text-align:right;
	padding-top: 0em;
	padding-bottom: 0em;
}
button.toggle {
/* 
	border-top: 1px solid #335066;
	border-right: none;
	border-bottom: 1px solid #2378A9;
	border-left: none;
*/
	padding: .1em 1em .1em 2em ;
	text-align:right;

/*
	background-image: url('images/button_L_cap.png') , url('images/button_R_cap.png') ;
	background-repeat: no-repeat, no-repeat;
	background-position: left, right;
*/

	min-width: 8em;
}
button.major_action {
	/*font-size:1.25em;*/
	padding: .25em 1em .25em 3em ;
	text-align:right;
	border-radius: 8px;

/* solid, not just outline... alas...
	background: black; 
	background:
		linear-gradient(135deg, transparent 10px, #22DD22 0) top left,
		linear-gradient(225deg, transparent 10px, #22DD22 0) top right,
		linear-gradient(315deg, transparent 10px, #22DD22 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #22DD22 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
*/
/*  could also do corners with images caps (but don't forget other coordinated classes)...
	border:none;
	background-image: url('images/button_major_left_endcap_inactive.png') ,  url('images/button_major_right_endcap_inactive.png'), url('images/button_major_mid_inactive.png');
	background-size: contain;
	background-repeat: no-repeat,  no-repeat, repeat-x;
	background-position: left, right,  center;
*/

	min-width: 9em;
	outline: none;
}
button.major_action_active {
/*
	background-image: url('images/button_major_left_endcap_active.png') ,  url('images/button_major_right_endcap_active.png'), url('images/button_major_mid_active.png');
*/
}
button.action {
	font-size:1.25em;
	padding: .1em .75em .1em .75em ;
	text-align:center;
	border-radius: 4px;
/*
	border:none;
	background-image: url('images/button2_L_cap.png') ,  url('images/button2_R_cap.png'), url('images/button2_mid.png');
	background-size: contain;
	background-repeat: no-repeat,  no-repeat, repeat-x;
	background-position: left, right,  center;
	outline: none;
*/
	/*min-width: 8em;*/
}

a.increment:link {
	text-decoration: none;
}
a.increment:link img {
	border:none;
}
a.decrement:link {
	text-decoration: none;
}
a.decrement:link img {
	border:none;
}
button.increment {
	background-image: url('images/button_increment.png') ;
	background-repeat: no-repeat;
	background-size: contain;
	border:none;
	background-color: transparent;
	width: 1em;
	height: 2em;	/*you could actually have different sizes this way, or dynamically set*/
	outline: none;
}
button.decrement {
	background-image: url('images/button_decrement.png') ;
	background-repeat: no-repeat;
	background-size: contain;
	border:none;
	background-color: transparent;
	width: 1em;
	height: 2em;	/*you could actually have different sizes this way, or dynamically set*/
	outline: none;
}


/** Sliders **/
input[type='range'] {
  position: relative;
  top: 50%;
  left: 1em; /*33%;*/
  border: solid 0 transparent;
  border-width: 0 1.75em 0.75em;
  padding: 0 0 1.5em;
  width: 19.75em;
  height: 5.25em;
  border-radius: .05em;
  transform: translate(-0%, 100%) rotate(-90deg);
  /* transform: translate(-50%, -50%) rotate(-90deg);*/
  background: linear-gradient(#009999, #009999) calc(100% - 0.1825em) calc(100% - 0.6875em), linear-gradient(90deg, #009999, #009999 0.125em, rgba(0, 0, 0, 0) 0.125em, rgba(0, 0, 0, 0) 18.635em) 0.495em calc(100% - 0.375em), radial-gradient(#009999, rgba(0, 153, 153, 0)) 2.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 3.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 5.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 6.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 8.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 9.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 11.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 12.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 14.3125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 15.8125em 100%, radial-gradient(#009999, rgba(0, 153, 153, 0)) 17.3125em 100%;
  background-repeat: no-repeat, repeat-x, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 0.75em 0.125em, 18.635em 0.75em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em, 0.125em 1.5em;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box,
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box,
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-ms-track {
  border: none;
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: .25em;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box,
  linear-gradient(#efefef, #c2c2c2) border-box;*/
  color: transparent;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -0.125em;
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-tooltip {
  display: none;
}
input[type='range']:nth-of-type(2) {
  left: 2em; /*33%;*/
  transform: translate(-50%, 100%) rotate(-90deg) scaleY(-1);
  /*transform: translate(-50%, -50%) rotate(-90deg) scaleY(-1);*/
}
input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 .25em #808080;
}





table th {  /*maybe not good to be a default, but have a declared simple table type? */
	text-align:left;
}
table td {  /*maybe not good to be a default, but have a declared simple table type? */
	padding-right: .5em;
	/* this is better for decimal comparison:   text-align:right;*/
	text-align:left;
}



/** Semantic Classes **/
.urgent {
	color: #EE2222;
}
.confirmed, .nominal {
	color: #39F33B;
}
li.confirmed {
	list-style-type: square;
}

.ship_metrics {
	font-size: 1.1em;
}
.ship_metrics  caption {
	text-align:right;
	font-size:.75em;
}
.ship_metrics th
{	padding-left: 1em;
}
.ship_metrics td
{	padding-left: 1em;
	padding-top: 0em;
	padding-bottom: 0em;
}
.ship_metrics tr td:first-child
{
	text-align: right;
	padding-right:1em;
	padding-left:2.5em;

	border-left: 1px solid #22DD22;
	border-right: 1px solid #22DD22;
}
.jumbo
{
	font-size: 6em;
	font-weight: 100;
}


.target_metric
{
}


/** Layout Structures **/
.wrapper2column {
	 overflow: hidden; /* clear the float */
}
.leftcolumn {
	float:left;
	margin-right:4em;
}
.rightcolumn {
	overflow: hidden;
	margin-left: 6em;
}
.yscale {
	float: left;
}
.maingrid {
	overflow: hidden;
}
.yscale td {
	text-align:right;
	border-bottom: 1px solid white;
}
.graphbar {
	color: black;
	padding: .1em .25em .1em .25em;
	background-color: #22DD22;
}


ul.button_stack {
	list-style-type: none;
	margin-left: 0em;
	padding-left: .5em;
	padding-top: 0em;
}
ul.button_stack li button {
	min-width: 12em;
}
ul.button_stack.narrow li button {
    min-width: 6em;
    text-align: left;
    padding-left: 1.5em;
}


table.vertical_threshold_bracket {
	border-top: 4px solid #ffdd66;
	border-left: 4px solid #ffdd70;
	border-bottom: 4px solid #ffdd66;
	/* nice, but not consistent with contiguous bracket color   border-collapse: collapse;*/
	border-spacing: 0em;
}
table.vertical_threshold_bracket td {
	/* font-weight: bold; */
}
table.vertical_threshold_bracket td.critical_threshold {
	border-left: 5px solid #F76263;
}
table.vertical_threshold_bracket td.nominal_threshold {
	border-left: 5px solid #39F33B;
}


#celestialregistry {
	margin-top: 50%;
}

table.cartograph {
	border: 2px solid #22DD22;
	border-collapse: collapse;
}
table.cartograph td {
	/* too basic ** border: 2px dotted #22DD22; */
/*Horizontal - trick to create spaced dots, not really a gradient*/
background-image: linear-gradient(to right, #22DD22 20%, rgba(255,255,255,0) 0%);
background-position: bottom;
background-size: 4px 1px;
background-repeat: repeat-x;

/*Vertical*/
background-image: linear-gradient(#22DD22 20%, rgba(255,255,255,0) 0%);
background-position: right;
background-size: 1px 4px;
background-repeat: repeat-y;


	width: 6em;
	height: 6em;
	text-align: left;
	vertical-align: top;
	font-size: 1em;
	color: #22DD22;
}


/** Decor **/
.starry_expanse {   /*particularly well suited for tabl-level background of cartograph */
	background-image:
		radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.subgridding {   /*particularly well suited for tabl-level background of cartograph */
	background-image:
		linear-gradient(darkblue 1px, transparent 1px),
		linear-gradient(90deg, darkblue 1px, transparent 1px),
		linear-gradient(rgba(200,200,250,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(200,200,250,.3) 1px, transparent 1px);
	background-size:3.5em 3.5em, 3.5em 3.5em, 1.5em 1.5em, 1.5em 1.5em;
	background-position:.1em .1em, .1em .1em, .1em .1em, .1em .1em;
	/*
	*/
	/*
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
	*/
}



/** Conventional UI layout **/
#super_container {
	margin: .5em;
}

#console_super_controls button {
	margin-right: -.25em;
}

#communique {
	background-color: black;
	border: 1px solid #BBAA22;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: -.5em;
	padding: 1em;
	display:none; /* this is a little bit of behavior-in-style. */
}
#communique button.action {
	float:right;
	margin-top: 1em;
	margin-right:-1em;
}
#console_metacontrols {
	position:fixed;
	right:0; bottom:0;
}
#console_metacontrols a{
	text-decoration: none;
	font-weight: bold;
	color: #555566;
}
